.glow-cursor {
  position: fixed;
  width: 120px;
  height: 120px;
  border-radius: 10%;
  background: radial-gradient(circle, rgba(242, 213, 25, 0.301), transparent 60%);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: background 0.3s ease;
  mix-blend-mode: screen;
}
